<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.AppCompat">

        <activity
            android:name="id.xxx.module.ui.base.BaseAppCompatActivityViewBindingTest$ExampleActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="id.xxx.module.ui.base.BaseFragmentActivityViewBindingTest$ExampleActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>